# The safe practice is to create different environments 
# for different groups of packages used for specific jobs.
# Install 'virtualenv' to manage environments: 
# 	python -m pip install --user virtualenv
# Create a new virtual environment:
#   cd ~/.
#	python3.12 -m venv appmlenv
# Python3.12 should be native to the latest Mac/Ubuntu or Windows release.
# If not you can try (for Linux users) the following thing 
# But DON'T HESITATE TO CONTACTE ONE OF THE TA's
# You can do this the following way:
# sudo apt update
# sudo apt install -y software-properties-common
# sudo add-apt-repository ppa:deadsnakes/ppa
# sudo apt update
# sudo apt install -y python3.12 python3.12-venv python3.12-dev
# Activate the environment (from environment directory):
#	source appmlenv/bin/activate
# Install recommended packages: 
#	pip install -r requirements.txt
#
# * To deactivate 'appmlenv':
#	deactivate
# * To remove 'appmlenv':
#	rm -rf appmlenv
# List of packages:
#
# use with --dry-run
torch
torch-geometric
torchaudio
torchvision
# python
# tensorflow
# scikit-learn
# xgboost
# h5py
# lightgbm
# notebook
# matplotlib
# numpy
# pandas
# scipy
# seaborn
# ipywidgets
